//text center
@mixin text-center {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


//primary buttons
@mixin primary-button {
    width: 300px;
    height: 55px;
    border-radius: 20px;
    background-color: $primary;
    
    @include text-center;
    cursor: pointer;
    
    margin-top: 10px;
    margin-bottom: 30px;
    stroke: none;

    p{
        color:$terciary
    }
}