// Theme colores
$primary: #FFDD06; //para botones primarios y logo
$secondary:#EFEFEF; // para botones secundarios  o inactivos#3C5A7B;
$terciary: #EFEFE0;   //cambiar luego

$Background:#2C2C2C;

// Texts colors

$primary_text:#000000;
$secondary_text:#FFFFFF;
//Palette colors

//fonts-size
$sm : 14px;
$m  : 18px;
$l  : 22px;
$xl : 26px;

