main {
    grid-area: main;
    display:grid;
    place-content: center;
    img{
        height: 80%;
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .buttons-home {
        margin-top: 20px;
        margin-bottom: 20px;
        button {
            display: grid;
            justify-items:center;
            @include primary-button;
        }
    }
    p {
        color: $primary;
        font-size: medium;
    }
}