*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }

  li{
    list-style: none;
  }

  p{
    text-align: center;
  }







