*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
  }
  
  html {
    font-size: 62.5%;
  }

  li{
    list-style: none;
  }

body {
    background-color: $Background;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr  1fr 1fr;

    grid-template-areas: 
    "header header"
    "main main"
    "footer  footer";
    gap: 50px;
}





